{%if include.data.first%}
<table class="hook-arguments{%if include.data.size > 1%} zebra{%endif%}">
  <caption>{{include.caption|default:"Callback Arguments"}}</caption>
  <tr>
    <th>Argument</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {%for data in include.data %}
  {%assign data_type = data.type | default: page.data.parameter[data.name] %}
  <tr>
    <td class="code">${{data.name}}</td>
    <td>{{data_type | split: "|" | array_to_sentence_string: 'or'}}</td>
    <td>{{data.description | markdownify | remove: '<p>' | remove: '</p>'}}</td>
  </tr>
  {%endfor%}
</table>
{%endif%}