{%if include.data.first%}
{%for callback in include.data %}
<h4>{{callback.name | default:"Callback Arguments"}}</h4>
<table class="callback-arguments{%if callback.arguments.size > 1 %} zebra{%endif%}">
  <tr>
    <th>Argument</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {%for argument in callback.arguments %}
  {%assign parameter = site.data.parameter[argument.name] %}
  {%assign data_type = argument.type | default: parameter.type | default: "mixed" %}
  {%assign description = argument.description | default: parameter.description %}
  <tr>
    <td class="code">${{argument.name}}</td>
    <td>{{data_type | split: "|" |  array_to_sentence_string: 'or'}}</td>
    <td>{{description | markdownify | remove: '<p>' | remove: '</p>'}}</td>
  </tr>
  {%endfor%}
</table>
{%include returns.html returns=callback.returns %}
{%if callback.description %}
{{callback.description | markdownify }}
{%endif%}
{%endfor%}
{%endif%}