<h2>{{page.title}}
  <span class="badge badge-method">method</span>
</h2>

<section id="badges">
  {% if page.static %}
  <span class="badge badge-static">static</span>
  {%endif%}
  {% if page.script %}
  <span class="badge badge-{{page.script}}">{{page.script}}</span>
  {%endif%}
  <span class="badge badge-since">since v{{page.since}}</span>
</section>

{%if page.synopsis %}
{{page.synopsis | markdownify}}
{%endif%}

{% highlight php %}
{{page.namespace}}::{%unless page.static%}instance()->{%endunless%}{%if page.signature%}{{page.signature}}{%else%}{{page.title}}(){%endif%}
{%endhighlight%}

{%include arguments.html arguments=page.arguments name="Method Parameter" default=true %}

{%include returns.html returns=page.returns %}
{%include options.html data=page.options %}
{%include callbacks.html data=page.callbacks %}

{{content}}

{% include see.html data=page.see %}