{%if include.data.first%}
<table class="options{%if include.data.size > 1 %} zebra{%endif%}">
  <caption>{{include.caption | default: "Details for <code>$options</code>"}}</caption>
  <tr>
    <th>Key</th>
    <th>Type</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  {%assign options = include.data | sort: "name" %}
  {%for option in options%}
  <tr>
    <td class="code">{{option.name}}</td>
    <td>{{option.type | split: "|" | array_to_sentence_string: 'or'}}</td>
    {%if option.default %}<td class="code">{{option.default}}{%else%}<td><span class="badge badge-required">required</span>{%endif%}</td>
    <td>{{option.description}}</td>
  </tr>
  {%endfor%}
</table>
{%endif%}