<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <main>
      <h1>
        <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
        <a href="https://github.com/kungtiger/central-color-palette" class="link">
          <span class="icon icon-github"></span>
          <span>Github</span>
        </a>
        <a href="https://wordpress.org/plugins/kt-tinymce-color-grid" class="link">
          <span class="icon icon-wordpress"></span>
          <span>Plugin Page</span>
        </a>
      </h1>
      {{ content }}
    </main>
  </body>
</html>
